@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800'); 

body{
    margin: 0;
    padding: 0;
    font-family: 'Monserrat', sans-serif;
    background-color: #f2f2f2;
    font-size: calc(6px + 1vw);
}


.viewport{
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

hr {
    margin: auto;
}

.mainContainer{
    text-align:justify;
    overflow-x: hidden;
    display: none;
}

.info{
    text-align: left;
    display: flex;
    margin-bottom: 0;
    min-height: 450px;
} 

.geoInfo{
    width:55%;
    justify-content: center; 
    align-items: center;
    line-height: 140%;
    letter-spacing: 0.5px;
    text-shadow: 0.2px 0.2px 0.5px #000000;
    font-weight: bold;
    color:#717171;
    text-align: center;
}

#message{
    color: 	#717171;
    text-align: center;
    font-weight: bold; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-transform: uppercase;
    font-size: calc(27px + 1vw);
    letter-spacing: 5px;
    margin: 0;
}

.titleInfo{
    width: 45%;
    justify-content: center; 
    align-items: center;
}


#Sup{
    margin-bottom: 0;
    margin-top:10%;
    display: flex;
    align-items: center;
}

.outcome{
    width: 45%;
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    /* margin: 20px;
    padding: 5px; */ /* Spazio intorno al contenuto all'interno del bordo */
}

.map{
    width:55%;
}

iframe {
    border-radius: 10px; 
}

.text-navbar{
    color: black;
  }

#countriesList{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
} 

#countriesList li {
    position: relative;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    margin-bottom: 15px;
    color: rgb(18, 34, 255);
    font-weight: bold;
    padding: 20px 17px;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1); 
}

#countriesList li:hover {
    color: white;
    font-weight: bold;
    background-color:rgb(18, 34, 255);
    border: 2px solid black; 
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) scale(1.06); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

#meta1, #meta2, #meta3, #meta4, #meta5{
    background-color: white;
    border: 2.5px solid rgb(18, 34, 255);
}

.journey{
    margin-top: 9.77vw;
    margin-right: 0px;
    margin-bottom: 6.51vw;
}

.description {
    margin-left: 9.77vw;
    margin-right: 9.77vw;
    margin-top: 3.26vw;
    text-align: justify;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center
}


.flags {
    display:flex;
    justify-content: center; 
    align-items: center;
    margin-right: 2.60vw;
    margin-left: 2.60vw;
    margin-bottom:0.65vw;
}

.flags img{
    display:flex;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1); 
}

#descriptionText{
    line-height: 140%;
    letter-spacing: 0.5px;
    text-shadow: 0.2px 0.2px 0.5px #000000;
    border: 1px solid #000;
    padding: 40px; 
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),  0 10px 10px rgba(0, 0, 0, 0.22);  
}

* {box-sizing:border-box}


.slideshows-container {
    position: relative;
    margin: auto;
    width: 75%;                 
    height: 75%;                
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;     /*margine inferiore tra immagine e dots*/
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dotMenu{
    margin-bottom: 100px;
    text-align: center;
}

.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}


#meta1, #meta2, #meta3, #meta4, #meta5{
    display: none;
} 

#link1, #link2, #link3, #link4, #link5{
    display: none;
    text-decoration: none;
}

#flag1, #flag2, #flag3, #flag4, #flag5{
    display: none;
}

#dot1, #dot2, #dot3, #dot4, #dot5{
    display: none;
}

.slideshows-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.fullCart, .duplicateElement{
    text-align: center;
    display: none;
    font-size: calc(6px + 1vw);
    margin-top: 13%;
    font-weight: bold;
    color: rgb(208, 69, 69);
}

#notLogged {
    display: none;
}

.text {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.img0{
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 10%;
    overflow: hidden;
}

.containerEmpty {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numero_itinerario {
    text-align: center;
}

.testo_itinerario {
    text-align: center;
}

.compile {
    border-radius: 15px;
    border: 1px solid rgb(18, 34, 255);
    background-color: rgb(18, 34, 255);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 0px;
}

.compile:hover {
    background-color: rgb(0, 12, 183);
}

.compile:focus {
    outline: none;
}
