@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    font-size: calc(5px + 1vw);
    margin: initial;
    padding: initial;
}

.title {
    text-decoration: none;
    color: rgb(247, 247, 247);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    z-index: 0;
    text-align: center;
    background-color: #007fff;
    padding: 10px;
    color: white;
}

p {
    line-height: 140%;
    text-shadow: 0.2px 0.2px 0.5px #000000;
}

.container.right {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img0,
.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 10%;
    overflow: hidden;
}

#viaggio1,
#viaggio2,
#viaggio3,
#viaggio4,
#viaggio5 {
    display: none;
}


/*aggiunta di initial alle proprietà ridefinite in header*/
.options button {
    border-radius: 100px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    display: flex;
    float: right;
}

.options button img {
    width: 4vw;
    /* Regola la larghezza dell'immagine in base alla larghezza della finestra */
    height: auto;
    /* Imposta l'altezza automaticamente per mantenere le proporzioni originali */
}

.options button:hover {
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) scale(1.06);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
    background-color: initial;
    color: initial;
}

.options button:active {
    transform: scale(0.95);
}

.options button:focus {
    outline: none;
}

.options {
    float: right;
}

.text {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.numero_itinerario {
    text-align: center;
}

.testo_itinerario {
    text-align: center;
}

.details {
    margin-bottom: 85%vh !important;
}

/*carrello vuoto*/
#emptyCart {
    display: none;
}

/*non loggato*/
#notLogged {
    display: none;
}

.containerEmpty {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.compile {
    border-radius: 15px;
    border: 1px solid rgb(18, 34, 255);
    background-color: rgb(18, 34, 255);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 0px;
}

.compile:hover {
    background-color: rgb(0, 12, 183);
}

.compile:focus {
    outline: none;
}

#p-1{
    color: red;
}