@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    font-family: 'Montserrat', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-size: calc(5px + 1vw);
}

.img1,
.img2,
.img3,
.img4 {
    height: 100%;
    display: flex;
    /*parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 10%;
    overflow: hidden;
}

.img1 {
    background-image: url('../Images/imgForm/img2.jpg');
}

.img2 {
    background-image: url('../Images/imgForm/Sfondo.jpg');
}

.img3 {
    background-image: url('../Images/imgForm/baggage.jpg');
}

.img4 {
    background-image: url('../Images/imgForm/borough.jpg');
}

.container {
    text-align: center;
}

.container.right {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 50px 20px 50px;
    margin: 10% auto 10%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    width: 400px;
}

.option {
    margin: 10% 0 0;
}

[type=radio] {
    border: 0;
    height: 0.0625rem;
    width: 0.0625rem;
    position: absolute;
}

label {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 15px;
    border: 2px solid rgb(18, 34, 255);
    background-color: #f2f2f2;
    margin-left: 10%;
    margin-bottom: 15px;
    padding: 6px 0;
    font-weight: bold;
    position: relative;
    color: rgb(18, 34, 255);
    letter-spacing: 1px;
    transition: transform ease-in;
    cursor: pointer;
}

input:checked+label {
    background: rgb(18, 34, 255);
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(1.15);
    -webkit-text-stroke: .6px #fff;                     /*contorno di 0.6px bianco*/
    color: #f2f2f2;
}

input:checked+label .alphabet {
    background: #f2f2f2;
    color: rgb(18, 34, 255);
    font-weight: bolder;
}

label:hover .alphabet {
    background: #f2f2f2;
    color: rgb(18, 34, 255);
    border-width: 2px;
    border-color: black;
}

label .alphabet {
    border-radius: 30%;
    border: 1px solid rgb(255, 255, 255);
    padding: .4rem .5rem .4rem;
    width: 2.3rem;
    margin: 0 1.3rem 0 .7rem;
    display: flex;
    justify-content: center;
    background-color: rgb(18, 34, 255);
    color: #FFFFFF;
}

label:active {
    transform: scale(0.95);
}

.numeroDomanda {
    font-weight: bold;
    margin: 0;
    font-size: large;
}

.domanda {
    font-style: italic;
}

button {
    text-decoration: none;
    border-radius: 15px;
    border: 3px solid #f2f2f2;
    background-color: var(--light-1);
    color: #f2f2f2;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: transform ease-in;
    cursor: pointer;
    padding: 8px 16px;
    width: fit-content;
    display: block;
    text-transform: uppercase;
    position: relative;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

button:hover {
    background-color: #ddd;
    color: black;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

@media only screen and (max-width: 650px) {                     /* <= 650px */
    .container.right {
        padding: 2% 20px 2%;
        margin: 2% auto 2%;
        overflow: visible;
        width: 50%;
    }

    .img1,
    .img2,
    .img3,
    .img4 {
        padding-bottom: 20%;
        padding-top: 20%;
    }

    button {
        margin: 15%;
    }

    .option {
        margin: 0 0 0;
        position: relative;
    }

    label {
        margin-bottom: 5%;
        padding: 1px 0;
    }

    [type=radio] {
        position: relative;
    }
}